In [78]:
import pandas as pd

# Base de Simulados

In [79]:
simulado1 = pd.read_csv('data/serving/simulado_final_1.2.csv')
simulado2 = pd.read_csv('data/serving/simulado_final_2.1.csv')
simulado3 = pd.read_csv('data/serving/simulado_final_2.2.csv')

In [80]:
simulado3 = simulado3[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]
simulado2 = simulado2[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CH','ACERTOS_LG']]
simulado1 = simulado1[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]

In [81]:
estudantes_simulado = list(simulado1.ESTUDANTE.unique())+list(simulado2.ESTUDANTE.unique())+list(simulado3.ESTUDANTE.unique())
estudantes_simulado = set(estudantes_simulado)

In [82]:
df_estudantes = pd.DataFrame(estudantes_simulado)
df_estudantes.columns = ['ESTUDANTE']

In [83]:
df_estudantes

                     ESTUDANTE
0           Beatriz Alves Lima
1      Isabela Santos Oliveira
2          Renato Costa Santos
3           Letícia Alves Lima
4   Camila Fernandes Rodrigues
..                         ...
80  Letícia Gonçalves Carvalho
81     Renato Pereira Ferreira
82     Carolina Lima Rodrigues
83    Letícia Rodrigues Santos
84         Larissa Nunes Gomes

[85 rows x 1 columns]

In [84]:
df_estudantes = df_estudantes.merge(simulado1,how='left')

In [85]:
df_estudantes = df_estudantes.merge(simulado2,how='left',left_on='ESTUDANTE',right_on='ESTUDANTE')
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1', 'ACERTOS_MT_EXATAS_1',
       'QTD_ACERTOS_HUMANAS_1', 'ACERTOS_CH_HUMANAS_1', 'ACERTOS_LG_HUMANAS_1']

In [86]:
df_estudantes = df_estudantes.merge(simulado3,how='left',left_on='ESTUDANTE',right_on='ESTUDANTE')

In [87]:
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1',
       'ACERTOS_MT_EXATAS_1', 'QTD_ACERTOS_HUMANAS_1', 'ACERTOS_CH_HUMANAS_1',
       'ACERTOS_LG_HUMANAS_2', 'QTD_ACERTOS_EXATAS_2', 'ACERTOS_CN_EXATAS_2', 'ACERTOS_MT_EXATAS_2']

In [88]:
df_estudantes

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS_HUMANAS_1,ACERTOS_CH_HUMANAS_1,ACERTOS_LG_HUMANAS_2,QTD_ACERTOS_EXATAS_2,ACERTOS_CN_EXATAS_2,ACERTOS_MT_EXATAS_2
0,Beatriz Alves Lima,36.0,18.0,18.0,20,11,9,22.0,10.0,12.0
1,Isabela Santos Oliveira,24.0,14.0,10.0,31,13,18,16.0,5.0,11.0
2,Renato Costa Santos,22.0,12.0,10.0,33,11,22,18.0,10.0,8.0
3,Letícia Alves Lima,25.0,14.0,11.0,30,13,17,26.0,14.0,12.0
4,Camila Fernandes Rodrigues,15.0,7.0,8.0,24,11,13,12.0,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...
80,Letícia Gonçalves Carvalho,22.0,14.0,8.0,23,9,14,26.0,14.0,12.0
81,Renato Pereira Ferreira,19.0,8.0,11.0,33,15,18,17.0,7.0,10.0
82,Carolina Lima Rodrigues,17.0,6.0,11.0,43,20,23,37.0,15.0,22.0
83,Letícia Rodrigues Santos,NaN,NaN,NaN,41,20,21,NaN,NaN,NaN
84,Larissa Nunes Gomes,46.0,24.0,22.0,51,26,25,21.0,10.0,11.0

In [89]:
df_estudantes.dropna()

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS_HUMANAS_1,ACERTOS_CH_HUMANAS_1,ACERTOS_LG_HUMANAS_2,QTD_ACERTOS_EXATAS_2,ACERTOS_CN_EXATAS_2,ACERTOS_MT_EXATAS_2
0,Beatriz Alves Lima,36.0,18.0,18.0,20,11,9,22.0,10.0,12.0
1,Isabela Santos Oliveira,24.0,14.0,10.0,31,13,18,16.0,5.0,11.0
2,Renato Costa Santos,22.0,12.0,10.0,33,11,22,18.0,10.0,8.0
3,Letícia Alves Lima,25.0,14.0,11.0,30,13,17,26.0,14.0,12.0
4,Camila Fernandes Rodrigues,15.0,7.0,8.0,24,11,13,12.0,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...
79,Rafaela Almeida Santos,19.0,12.0,7.0,51,24,27,23.0,8.0,15.0
80,Letícia Gonçalves Carvalho,22.0,14.0,8.0,23,9,14,26.0,14.0,12.0
81,Renato Pereira Ferreira,19.0,8.0,11.0,33,15,18,17.0,7.0,10.0
82,Carolina Lima Rodrigues,17.0,6.0,11.0,43,20,23,37.0,15.0,22.0
84,Larissa Nunes Gomes,46.0,24.0,22.0,51,26,25,21.0,10.0,11.0