In [2]:
import pandas as pd

# Comparação simulado EXATAS

In [3]:
simulado1 = pd.read_csv('data/serving/simulado_final_1.2.csv')
simulado3 = pd.read_csv('data/serving/simulado_final_2.2.csv')

In [4]:
simulado3 = simulado3[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]
simulado1 = simulado1[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]

In [5]:
estudantes_simulado = list(simulado1.ESTUDANTE.unique())+list(simulado3.ESTUDANTE.unique())
estudantes_simulado = set(estudantes_simulado)

In [6]:
df_estudantes = pd.DataFrame(estudantes_simulado)
df_estudantes.columns = ['ESTUDANTE']

In [7]:
df_estudantes

                     ESTUDANTE
0          Larissa Costa Silva
1   Fernanda Oliveira Ferreira
2          Renato Costa Santos
3      Jéssica Fernandes Costa
4         Diego da Silva Souza
..                         ...
76        Vitória Santos Alves
77      Rafaela Almeida Santos
78     Gabriela Lima Rodrigues
79       Gustavo Costa Pereira
80         Mariana Costa Alves

[81 rows x 1 columns]

In [8]:
df_estudantes = df_estudantes.merge(simulado1,how='left')
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1', 'ACERTOS_MT_EXATAS_1']

In [11]:
df_estudantes = df_estudantes.merge(simulado3,how='left',left_on='ESTUDANTE',right_on='ESTUDANTE')

In [12]:
df_estudantes

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS,ACERTOS_CN,ACERTOS_MT
0,Larissa Costa Silva,NaN,NaN,NaN,11,6,5
1,Fernanda Oliveira Ferreira,38.0,14.0,24.0,6,0,6
2,Renato Costa Santos,22.0,12.0,10.0,18,10,8
3,Jéssica Fernandes Costa,29.0,13.0,16.0,16,9,7
4,Diego da Silva Souza,22.0,9.0,13.0,23,14,9
...,...,...,...,...,...,...,...
76,Vitória Santos Alves,17.0,10.0,7.0,29,15,14
77,Rafaela Almeida Santos,19.0,12.0,7.0,23,8,15
78,Gabriela Lima Rodrigues,20.0,12.0,8.0,16,9,7
79,Gustavo Costa Pereira,22.0,11.0,11.0,10,10,0
80,Mariana Costa Alves,15.0,7.0,8.0,26,13,13

In [13]:
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1',
       'ACERTOS_MT_EXATAS_1', 'QTD_ACERTOS_EXATAS_2', 'ACERTOS_CN_EXATAS_2', 'ACERTOS_MT_EXATAS_2']

In [14]:
df_estudantes

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS_EXATAS_2,ACERTOS_CN_EXATAS_2,ACERTOS_MT_EXATAS_2
0,Larissa Costa Silva,NaN,NaN,NaN,11,6,5
1,Fernanda Oliveira Ferreira,38.0,14.0,24.0,6,0,6
2,Renato Costa Santos,22.0,12.0,10.0,18,10,8
3,Jéssica Fernandes Costa,29.0,13.0,16.0,16,9,7
4,Diego da Silva Souza,22.0,9.0,13.0,23,14,9
...,...,...,...,...,...,...,...
76,Vitória Santos Alves,17.0,10.0,7.0,29,15,14
77,Rafaela Almeida Santos,19.0,12.0,7.0,23,8,15
78,Gabriela Lima Rodrigues,20.0,12.0,8.0,16,9,7
79,Gustavo Costa Pereira,22.0,11.0,11.0,10,10,0
80,Mariana Costa Alves,15.0,7.0,8.0,26,13,13

In [16]:
compativo_simulado_exatas = df_estudantes.dropna()

In [18]:
compativo_simulado_exatas.to_csv('comparativo_simulado_exatas.csv', index=False)