In [25]:
import pandas as pd

# Comparação simulado EXATAS

In [26]:
simulado1 = pd.read_csv('data/serving/simulado_final_1.2.csv')
simulado3 = pd.read_csv('data/serving/simulado_final_2.2.csv')

In [27]:
simulado3 = simulado3[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]
simulado1 = simulado1[['ESTUDANTE','QTD_ACERTOS','ACERTOS_CN','ACERTOS_MT']]

In [28]:
estudantes_simulado = list(simulado1.ESTUDANTE.unique())+list(simulado3.ESTUDANTE.unique())
estudantes_simulado = set(estudantes_simulado)

In [29]:
df_estudantes = pd.DataFrame(estudantes_simulado)
df_estudantes.columns = ['ESTUDANTE']

In [30]:
df_estudantes

                     ESTUDANTE
0          Larissa Costa Silva
1   Fernanda Oliveira Ferreira
2          Renato Costa Santos
3      Jéssica Fernandes Costa
4         Diego da Silva Souza
..                         ...
76        Vitória Santos Alves
77      Rafaela Almeida Santos
78     Gabriela Lima Rodrigues
79       Gustavo Costa Pereira
80         Mariana Costa Alves

[81 rows x 1 columns]

In [31]:
df_estudantes = df_estudantes.merge(simulado1,how='left')
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1', 'ACERTOS_MT_EXATAS_1']

In [32]:
df_estudantes = df_estudantes.merge(simulado3,how='left',left_on='ESTUDANTE',right_on='ESTUDANTE')

In [33]:
df_estudantes

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS,ACERTOS_CN,ACERTOS_MT
0,Larissa Costa Silva,NaN,NaN,NaN,11,6,5
1,Fernanda Oliveira Ferreira,38.0,14.0,24.0,6,0,6
2,Renato Costa Santos,22.0,12.0,10.0,18,10,8
3,Jéssica Fernandes Costa,29.0,13.0,16.0,16,9,7
4,Diego da Silva Souza,22.0,9.0,13.0,23,14,9
...,...,...,...,...,...,...,...
76,Vitória Santos Alves,17.0,10.0,7.0,29,15,14
77,Rafaela Almeida Santos,19.0,12.0,7.0,23,8,15
78,Gabriela Lima Rodrigues,20.0,12.0,8.0,16,9,7
79,Gustavo Costa Pereira,22.0,11.0,11.0,10,10,0
80,Mariana Costa Alves,15.0,7.0,8.0,26,13,13

In [34]:
df_estudantes.columns = ['ESTUDANTE', 'QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1',
       'ACERTOS_MT_EXATAS_1', 'QTD_ACERTOS_EXATAS_2', 'ACERTOS_CN_EXATAS_2', 'ACERTOS_MT_EXATAS_2']

In [35]:
df_estudantes

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS_EXATAS_2,ACERTOS_CN_EXATAS_2,ACERTOS_MT_EXATAS_2
0,Larissa Costa Silva,NaN,NaN,NaN,11,6,5
1,Fernanda Oliveira Ferreira,38.0,14.0,24.0,6,0,6
2,Renato Costa Santos,22.0,12.0,10.0,18,10,8
3,Jéssica Fernandes Costa,29.0,13.0,16.0,16,9,7
4,Diego da Silva Souza,22.0,9.0,13.0,23,14,9
...,...,...,...,...,...,...,...
76,Vitória Santos Alves,17.0,10.0,7.0,29,15,14
77,Rafaela Almeida Santos,19.0,12.0,7.0,23,8,15
78,Gabriela Lima Rodrigues,20.0,12.0,8.0,16,9,7
79,Gustavo Costa Pereira,22.0,11.0,11.0,10,10,0
80,Mariana Costa Alves,15.0,7.0,8.0,26,13,13

In [42]:
compativo_simulado_exatas = df_estudantes.dropna()

In [44]:
compativo_simulado_exatas.astype({})

ESTUDANTE               0
QTD_ACERTOS_EXATAS_1    0
ACERTOS_CN_EXATAS_1     0
ACERTOS_MT_EXATAS_1     0
QTD_ACERTOS_EXATAS_2    0
ACERTOS_CN_EXATAS_2     0
ACERTOS_MT_EXATAS_2     0
dtype: int64

In [45]:
colunas_acertos = ['QTD_ACERTOS_EXATAS_1', 'ACERTOS_CN_EXATAS_1', 'ACERTOS_MT_EXATAS_1',
                          'QTD_ACERTOS_EXATAS_2', 'ACERTOS_CN_EXATAS_2', 'ACERTOS_MT_EXATAS_2']

compativo_simulado_exatas[colunas_acertos] = compativo_simulado_exatas[colunas_acertos].astype(int)

C:\Users\abili\AppData\Local\Temp\ipykernel_26692\1917912426.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compativo_simulado_exatas[colunas_para_converter] = compativo_simulado_exatas[colunas_para_converter].astype(int)

In [47]:
compativo_simulado_exatas.to_csv('comparativo_simulado_exatas.csv', index=False)

In [48]:
compativo_simulado_exatas

,ESTUDANTE,QTD_ACERTOS_EXATAS_1,ACERTOS_CN_EXATAS_1,ACERTOS_MT_EXATAS_1,QTD_ACERTOS_EXATAS_2,ACERTOS_CN_EXATAS_2,ACERTOS_MT_EXATAS_2
1,Fernanda Oliveira Ferreira,38,14,24,6,0,6
2,Renato Costa Santos,22,12,10,18,10,8
3,Jéssica Fernandes Costa,29,13,16,16,9,7
4,Diego da Silva Souza,22,9,13,23,14,9
6,Lucas Nunes Almeida,35,20,15,13,6,7
...,...,...,...,...,...,...,...
76,Vitória Santos Alves,17,10,7,29,15,14
77,Rafaela Almeida Santos,19,12,7,23,8,15
78,Gabriela Lima Rodrigues,20,12,8,16,9,7
79,Gustavo Costa Pereira,22,11,11,10,10,0
80,Mariana Costa Alves,15,7,8,26,13,13